.link_wrapper {
  background-color: #ccc;
}

.active {
  background-color: #111;
}

.link_wrapper:hover {
  background-color: #666;
}

.active:hover {
  background-color: #666;
}

.link,
.link_style1 {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 3px 10px;
}

.link_style1 {
  background-color: darkcyan;
}

.link {
  background-color: #ccc;
}
