.link_wrapper {
  background-color: #eee;
}

.active {
  background-color: #333;
}

.link_wrapper:hover {
  background-color: #666;
}

.active:hover {
  background-color: #666;
}

.link {
  text-decoration: none;
  color: grey;
  font-size: 20px;
}
