@import "changeStyleParams.scss";

%tplLink {
  text-decoration: none;
  font-size: 20px;
  padding: 3px 10px;
  &:hover {
    background-color: #888;
  }
}

.link {
    @extend %tplLink;
    background-color: $bgBtnStyle2;

}
  
.link_style1 {
    @extend %tplLink;
    background-color: $bgBtnStyle1;
}

.link_wrapper {
  color: black;
}

.active {
    color: black;
  border: 1px solid $activeColorBorder;
}


