$bgBtnStyle1: darkcyan;
$bgBtnStyle2: #ccc;
$bgHover: #666;
$colorTextBtn: #555;
$activeColorBorder: black;
$errorTextColor: red;
$bgMainStyle1: antiquewhite;
$bgMainStyle2: #999;
$bgNavStyle1: antiquewhite;
$bgNavStyle2: #333;