/*General style*/

$bgHover: #666;
$colorTextBtn: #555;
$activeColorBorder: black;
$textColor: rgb(227, 227, 227);
$errorTextColor: red;

/*Style1*/

/*Button Background*/
$bgBtnStyle2: rgba(87, 115, 168, 0.3);

/*Main Background*/
$bgMainStyle2: rgb(2, 0, 36);
$bgMainGredientStyle2: radial-gradient(
  circle,
  rgba(2, 0, 36, 1) 0%,
  rgba(9, 9, 121, 1) 55%,
  rgba(0, 212, 255, 1) 100%
);

/*Header Navigator Background*/
$bgNavStyle2: rgb(42, 42, 42);
$bgNavGredientStyle2: linear-gradient(
  120deg,
  rgb(70, 70, 70) 0%,
  rgb(0, 0, 0) 50%,
  rgb(70, 70, 70) 100%
);

/*Style2*/

/*Button Background*/
$bgBtnStyle1: rgba(112, 112, 92, 0.4);

/*Main Background*/
$bgMainStyle1: rgb(34, 193, 195);
$bgMainGredientStyle1: linear-gradient(
  0deg,
  rgba(34, 193, 195, 1) 0%,
  rgba(253, 187, 45, 1) 100%
);

/*Header Navigator Background*/
$bgNavStyle1: rgb(0, 0, 0);
$bgNavGredientStyle1: linear-gradient(
  25deg,
  rgba(0, 0, 0, 1) 0%,
  rgb(47, 47, 47) 50%,
  rgb(141, 141, 141) 100%
);
