@import "changeStyleParams.scss";

%tplInput {
  padding: 2px 20px;
  margin-top: 10px;
}

%tplInputSubmit {
  color: $textColor;
  cursor: pointer;
  &:hover {
    background-color: rgba(61, 61, 61, 0.6);
  }
}

.input_text {
  @extend %tplInput;
}
.input_submit {
  @extend %tplInput;
}
.input_submit_style1 {
  @extend %tplInput;
}
.error {
  font-size: 10px;
  color: $errorTextColor;
}

.input_submit {
  @extend %tplInputSubmit;
  background-color: $bgBtnStyle1;
}

.input_submit_style1 {
  @extend %tplInputSubmit;
  background-color: $bgBtnStyle2;
}
