.input_text,
.input_submit,.input_submit_style1 {
  padding: 2px 20px;
  margin-top: 10px;
}

.error {
  font-size: 10px;
  color: red;
}

.input_submit {
  background-color: #ccc;
}

.input_submit_style1 {
  background-color: darkcyan;
}