@import "changeStyleParams.scss";

%tplMain {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $textColor;
}

%btnSignout {
  color: $textColor;
  padding: 10px 20px;
  margin-top: 10px;
}

.main {
  @extend %tplMain;
  background-color: $bgMainStyle1;
  background: $bgMainGredientStyle1;
}

.main_style1 {
  @extend %tplMain;
  background: $bgMainStyle2;
  background: $bgMainGredientStyle2;
  font-family: "Roboto", sans-serif;
}

.profile_disc {
  color: $textColor;
}

.profile_name {
  font-size: 25px;
  margin-bottom: 10px;
}

.profile_email {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile_signout {
  @extend %btnSignout;
  background-color: $bgBtnStyle1;
}

.profile_signout_style1 {
  @extend %btnSignout;
  background-color: $bgBtnStyle2;
}
.form_wrapper {
  text-align: center;
  min-height: 200px;
  min-width: 250px;
}

.text {
  height: fit-content;
  text-align: center;
  font-size: 25px;
}

.google {
  margin-left: 25px;
  margin-top: 20px;
}
