.nav,
.nav_style1 {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: antiquewhite;
}

.link,
.settings {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.settings {
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.settings_style,
.settings_style1 {
  width: 100px;
  padding: 5px;
  margin: 10px;
  background-color: #ccc;
}

.settings_style1 {
  background-color: darkcyan;
}

.settings_style:hover {
  background-color: #888;
}

.nav_style1 {
  background-color: #333;
}

.locales, .locales_sryle1 {
  display: flex;
  border: 1px solid #000;
  margin: 10px;
  background-color: #ccc;
}

.locales_sryle1 {
  background-color: darkcyan;
}

.locale {
  color: #fff;
  margin-left: 10px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;
}

.locale:hover {
  color: #888;
}

.locale1 {
  color: #000;
  margin-left: 10px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;
}

.locale1:hover {
  color: #888;
}

@media (max-width: 600px) {
  .nav,
  .nav_style1 {
    flex-direction: column;
    /* justify-content: space-around;
  align-items: center; */
    width: 100%;
    height: 100px;
  }

  .settings {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 350px) {
  .locales {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 300px) {
  .link {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .nav,
  .nav_style1 {
    height: 150px;
  }

  .locale,
  .locale1 {
    margin: 0;
  }
}
