.nav,
.nav_style1 {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: antiquewhite;
}

.nav div,
.nav_style1 div {
  padding: 5px;
}

.nav_style1 {
  background-color: #333;
}

.nav_style1 div {
  border: 1px solid #999;
}

<<<<<<< HEAD
.locales{
  border: 1px solid #000;
}

=======
>>>>>>> 0f660e1fc827f10859f0e68c9dd6ffb533752176
.locale{
  color: #fff;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: color .3s ease;
}

.locale:hover{
  color: #fff305;
}
<<<<<<< HEAD

.locale1{
  color: #000;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: color .3s ease;
}

.locale1:hover{
  color: #fff305;
}
=======
>>>>>>> 0f660e1fc827f10859f0e68c9dd6ffb533752176
